div.internal-pages {
	margin-top: 180px;
}

div.internal-pages a {
	color: #2b2d69;
}

div.internal-pages a:hover {
	color: #fff01a;
}

div.internal-pages section.page div.content,
div.internal-pages section.template div.content {
	text-align: center;
}

div.internal-pages section.page div.content div.text,
div.internal-pages section.template div.content div.text {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin-top: 30px;
	font-family: Creo-Light;
	text-align: justify;
	margin: 0 auto;
}

div.internal-pages section.template.about div.team-section {
	padding: 150px 0;
	background-color: #e8eaed;
}

div.internal-pages section.template.about div.team-section div.team-list > h3 {
	font-size: 34px;
}

div.internal-pages
	section.template.about
	div.team-section
	div.team-list
	div.carousel {
	margin-top: 30px;
}

div.internal-pages
	section.template.about
	div.team-section
	div.team-list
	div.member {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-content: center;
}

div.internal-pages
	section.template.about
	div.team-section
	div.team-list
	div.member
	h3 {
	width: 100%;
	margin-top: 10px;
}

div.internal-pages
	section.template.about
	div.team-section
	div.team-list
	div.member
	ul {
	width: 100%;
}

/********* Timeline **********/

.main-timeline9 {
	position: relative;
}

.main-timeline9:after,
.main-timeline9:before {
	content: '';
	display: block;
	width: 100%;
	clear: both;
}

.main-timeline9:before {
	content: '';
	width: 3px;
	height: 100%;
	background: #302124;
	position: absolute;
	top: 0;
	left: 50%;
}

.main-timeline9 .timeline {
	width: 50%;
	float: left;
	position: relative;
	z-index: 1;
}

.main-timeline9 .timeline:after,
.main-timeline9 .timeline:before {
	content: '';
	display: block;
	width: 100%;
	clear: both;
}

.main-timeline9 .timeline:last-child:before {
	top: auto;
	bottom: 0;
}

.main-timeline9 .timeline-content {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
	position: relative;
	transition: all 0.3s ease 0s;
}

.main-timeline9 .timeline-content:before {
	content: '';
	width: 100%;
	height: 5px;
	background: #181a40;
	position: absolute;
	top: 88px;
	left: 0;
	z-index: -1;
}

.main-timeline9 .circle {
	width: 180px;
	height: 180px;
	border-radius: 50%;
	background: #fff;
	border: 3px solid #181a40;
	float: left;
	margin-right: 25px;
	position: relative;
}

.main-timeline9 .circle span:after,
.main-timeline9 .circle span:before,
.main-timeline9 .circle:before {
	content: '';
	margin: auto;
	position: absolute;
	right: -33px;
	bottom: 0;
	z-index: -1;
}

.main-timeline9 .circle:before {
	width: 26px;
	height: 30px;
	background: #181a40;
	top: 0;
	box-shadow: inset 7px 0 9px -7px #444;
}

.main-timeline9 .circle span {
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	line-height: 160px;
	border: 3px solid #adabab;
	font-size: 80px;
	color: #454344;
}

.main-timeline9 .circle span:after,
.main-timeline9 .circle span:before {
	width: 28px;
	height: 50px;
	background: #fff;
	border-radius: 0 0 0 21px;
	top: -54px;
}

.main-timeline9 .circle span:after {
	border-radius: 21px 0 0;
	top: 0;
	bottom: -56px;
}

.main-timeline9 .content {
	display: table;
	padding-right: 40px;
	position: relative;
}

.main-timeline9 .year {
	display: block;
	padding: 5px;
	margin: 5px 0 50px;
	background: #181a40;
	border-radius: 7px;
	font-size: 25px;
	color: #fff;
}

.main-timeline9 .title {
	font-size: 25px;
	font-weight: 700;
	color: #181a40;
	margin-top: 0;
}

.main-timeline9 .icon span:after,
.main-timeline9 .icon span:before,
.main-timeline9 .icon:before {
	content: '';
	height: 25px;
	margin: auto;
	position: absolute;
	bottom: 0;
	z-index: -1;
	left: -15px;
}

.main-timeline9 .description {
	font-size: 14px;
	color: #a6a6a6;
	text-align: justify;
}

.main-timeline9 .icon {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: #fff;
	border: 4px solid #181a40;
	position: absolute;
	top: 78px;
	right: -14px;
}

.main-timeline9 .icon:before {
	width: 15px;
	background: #181a40;
	top: -1px;
}

.main-timeline9 .icon span:after,
.main-timeline9 .icon span:before {
	width: 21px;
	background: #fff;
	border-radius: 0 0 21px;
	top: -30px;
}

.main-timeline9 .icon span:after {
	border-radius: 0 21px 0 0;
	top: 0;
	left: -15px;
	bottom: -30px;
}

.main-timeline9 .timeline:nth-child(2n) .circle,
.main-timeline9 .timeline:nth-child(2n) .timeline-content {
	float: right;
}

.main-timeline9 .timeline:nth-child(2n) .circle {
	margin: 0 0 0 25px;
}

.main-timeline9 .timeline:nth-child(2n) .circle:before {
	right: auto;
	left: -33px;
	box-shadow: -7px 0 9px -7px #444 inset;
}

.main-timeline9 .timeline:nth-child(2n) .circle span:after,
.main-timeline9 .timeline:nth-child(2n) .circle span:before {
	right: auto;
	left: -33px;
	border-radius: 0 0 21px;
}

.main-timeline9 .timeline:nth-child(2n) .circle span:after {
	border-radius: 0 21px 0 0;
}

.main-timeline9 .timeline:nth-child(2n) .content {
	padding: 0 0 0 40px;
	margin-left: 2px;
}

.main-timeline9 .timeline:nth-child(2n) .icon {
	right: auto;
	left: -14px;
}

.main-timeline9 .timeline:nth-child(2n) .icon span:after,
.main-timeline9 .timeline:nth-child(2n) .icon span:before,
.main-timeline9 .timeline:nth-child(2n) .icon:before {
	left: auto;
	right: -15px;
}

.main-timeline9 .timeline:nth-child(2n) .icon span:before {
	border-radius: 0 0 0 21px;
}

.main-timeline9 .timeline:nth-child(2n) .icon span:after {
	border-radius: 21px 0 0;
}

.main-timeline9 .timeline:nth-child(2) {
	margin-top: 180px;
}

.main-timeline9 .timeline:nth-child(odd) {
	margin: -175px 0 0;
}

.main-timeline9 .timeline:nth-child(even) {
	margin-bottom: 80px;
}

.main-timeline9 .timeline:first-child,
.main-timeline9 .timeline:last-child:nth-child(even) {
	margin: 0;
}

@media only screen and (max-width: 990px) {
	.main-timeline9:before {
		left: 100%;
	}
	.main-timeline9 .timeline {
		width: 100%;
		float: none;
		margin-bottom: 20px !important;
	}
	.main-timeline9 .timeline:first-child:before,
	.main-timeline9 .timeline:last-child:before {
		left: auto !important;
		right: -13px !important;
	}
	.main-timeline9 .timeline:nth-child(2n) .circle {
		float: left;
		margin: 0 25px 0 0;
	}
	.main-timeline9 .timeline:nth-child(2n) .circle:before {
		right: -33px;
		left: auto;
		box-shadow: 7px 0 9px -7px #444 inset;
	}
	.main-timeline9 .timeline:nth-child(2n) .circle span:after,
	.main-timeline9 .timeline:nth-child(2n) .circle span:before {
		right: -33px;
		left: auto;
		border-radius: 0 0 0 21px;
	}
	.main-timeline9 .timeline:nth-child(2n) .circle span:after {
		border-radius: 21px 0 0;
	}
	.main-timeline9 .timeline:nth-child(2n) .content {
		padding: 0 40px 0 0;
		margin-left: 0;
	}
	.main-timeline9 .timeline:nth-child(2n) .icon {
		right: -14px;
		left: auto;
	}
	.main-timeline9 .timeline:nth-child(2n) .icon span:after,
	.main-timeline9 .timeline:nth-child(2n) .icon span:before,
	.main-timeline9 .timeline:nth-child(2n) .icon:before {
		left: -15px;
		right: auto;
	}
	.main-timeline9 .timeline:nth-child(2n) .icon span:before {
		border-radius: 0 0 21px;
	}
	.main-timeline9 .timeline:nth-child(2n) .icon span:after {
		border-radius: 0 21px 0 0;
	}
	.main-timeline9 .timeline:nth-child(2),
	.main-timeline9 .timeline:nth-child(even),
	.main-timeline9 .timeline:nth-child(odd) {
		margin: 0;
	}
}

@media only screen and (max-width: 480px) {
	.main-timeline9:before {
		left: 0;
	}
	.main-timeline9 .timeline:first-child:before,
	.main-timeline9 .timeline:last-child:before {
		left: -12px !important;
		right: auto !important;
	}
	.main-timeline9 .circle,
	.main-timeline9 .timeline:nth-child(2n) .circle {
		width: 130px;
		height: 130px;
		float: none;
		margin: 0 auto;
	}
	.main-timeline9 .timeline-content:before {
		width: 99.5%;
		top: 68px;
		left: 0.5%;
	}
	.main-timeline9 .circle span {
		line-height: 115px;
		font-size: 60px;
	}
	.main-timeline9 .circle span:after,
	.main-timeline9 .circle span:before,
	.main-timeline9 .circle:before,
	.main-timeline9 .icon {
		display: none;
	}
	.main-timeline9 .content,
	.main-timeline9 .timeline:nth-child(2n) .content {
		padding: 0 10px;
	}
	.main-timeline9 .year {
		margin-bottom: 15px;
	}
	.main-timeline9 .description {
		text-align: center;
	}
	.jumbotron-with-background {
		background-image: '\projeto-procopio\procopio\wp-content\themes\site-procopio\img\sobre\sobre-maior12';
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
	.container-fluid,
	h1 {
		margin-top: 50px;
		font: 100;
	}
	.container-fluid,
	h3 {
		margin-top: 100px;
		font: 50;
		text-align: center !important;
	}
	/***** Fim CSS da página serviços *****/
	/*********************************** 
    *     Início CSS da página sobre   *
    ***********************************/
	/*** Início seção quem somos ***/
	#text {
		padding-left: 0;
		-webkit-transition: all 0.5s ease;
		-moz-transition: all 0.5s ease;
		-o-transition: all 0.5s ease;
		transition: all 0.5s ease;
	}
	#text.toggled {
		padding-left: 220px;
	}
	#sidebar-text {
		z-index: 1000;
		left: 220px;
		width: 0;
		height: 100%;
		margin-left: -220px;
		overflow-y: auto;
		overflow-x: hidden;
		background: #1a1a1a;
		-webkit-transition: all 0.5s ease;
		-moz-transition: all 0.5s ease;
		-o-transition: all 0.5s ease;
		transition: all 0.5s ease;
	}
	#sidebar-text::-webkit-scrollbar {
		display: none;
	}
	#text.toggled #sidebar-text {
		width: 220px;
	}
	#page-content-text {
		width: 100%;
		padding-top: 70px;
	}
	#text.toggled #page-content-text {
		position: absolute;
		margin-right: -220px;
	}
	/*** Fim seção quem somos ***/
	/*** Início seção equipe ***/
	.row.heading h2 {
		color: #fff;
		font-size: 52.52px;
		line-height: 95px;
		font-weight: 400;
		text-align: center;
		margin: 0 0 40px;
		padding-bottom: 20px;
		text-transform: uppercase;
	}
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	.heading.heading-icon {
		display: block;
	}
	.padding-lg {
		display: block;
		padding-top: 60px;
		padding-bottom: 60px;
	}
	.practice-area.padding-lg {
		padding-bottom: 55px;
		padding-top: 55px;
	}
	.practice-area .inner {
		border: 1px solid #999999;
		text-align: center;
		margin-bottom: 28px;
		padding: 40px 25px;
	}
	.our-webcoderskull .cnt-block:hover {
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
		border: 0;
	}
	.practice-area .inner h3 {
		color: #3c3c3c;
		font-size: 24px;
		font-weight: 500;
		font-family: 'Poppins', sans-serif;
		padding: 10px 0;
	}
	.practice-area .inner p {
		font-size: 14px;
		line-height: 22px;
		font-weight: 400;
	}
	.practice-area .inner img {
		display: inline-block;
	}
	.our-webcoderskull {
		background: url('/wp-content/themes/site-procopio/img/banner/Banner-2.jpg')
			no-repeat center top / cover;
	}
	.our-webcoderskull .cnt-block {
		float: left;
		width: 100%;
		background: #fff;
		padding: 30px 20px;
		text-align: center;
		border: 2px solid #d5d5d5;
		margin: 0 0 28px;
	}
	.our-webcoderskull .cnt-block figure {
		width: 148px;
		height: 148px;
		border-radius: 100%;
		display: inline-block;
		margin-bottom: 15px;
	}
	.our-webcoderskull .cnt-block img {
		width: 148px;
		height: 148px;
		border-radius: 100%;
	}
	.our-webcoderskull .cnt-block h3 {
		color: #2a2a2a;
		font-size: 20px;
		font-weight: 500;
		padding: 6px 0;
		text-transform: uppercase;
	}
	.our-webcoderskull .cnt-block h3 a {
		text-decoration: none;
		color: #2a2a2a;
	}
	.our-webcoderskull .cnt-block h3 a:hover {
		color: #337ab7;
	}
	.our-webcoderskull .cnt-block p {
		color: #2a2a2a;
		font-size: 13px;
		line-height: 20px;
		font-weight: 400;
	}
	.our-webcoderskull .cnt-block .follow-us {
		margin: 20px 0 0;
	}
	.our-webcoderskull .cnt-block .follow-us li {
		display: inline-block;
		width: auto;
		margin: 0 5px;
	}
	.our-webcoderskull .cnt-block .follow-us li .fa {
		font-size: 24px;
		color: #767676;
	}
	.our-webcoderskull .cnt-block .follow-us li .fa:hover {
		color: #025a8e;
	}
	/*** Fim seção equipe ***/
	/*** Início seção parceiros ***/
	/*** Fim seção parceiros ***/
	/*********************************** 
    *     Fim CSS da página sobre      *
    ***********************************/
}
